<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kjersti's and Markus' *new* training challenge!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/login.css") %>">
    
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills">
          <%= if @authenticated do %>
            <li class="pull-right"><a href="<%= login_path @conn, :logout %>">Logout <%= @current_user %></a></li>
          <%= else %>
            <li class="pull-right"><a href="<%= login_path @conn, :login %>">Login</a></li>
          <%= end %> 
          
          <li class="pull-right"><a href="<%= page_path @conn, :index %>">Home</a></li>
        </ul>
      </div>

      <p class="alert alert-info"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
